{% extends '::base.html.twig' %}

{% block title %}
    Petition - {{ entity.petitionTitle }}
{% endblock %}
    {% block stylesheets %}
    <link href="{{ asset('/css/tikit/style.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('/css/simplemodal/basic.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('/css/simplemodal/basic_ie.css') }}" rel="stylesheet" type="text/css" />
{% endblock%}
{% block javascripts %}
    <script src="{{ asset('/js/jquery.min.js') }}"></script>
    <script src="{{ asset('/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('/js/bootswatch.js') }}"></script>
    <script src="{{ asset('/js/plugins/simplemodal/jquery.simplemodal.js') }}"></script>
    <script src="{{ asset('/js/plugins/simplemodal/basic.js') }}"></script>
    <script src="{{ asset('js/tikit/comment.js') }}" type="text/javascript"></script>
    {# Include this line to get the javascript AJAX code #}
    <script type="text/javascript">
    // Check if jQuery is loaded
    if (typeof jQuery != 'function') {
        document.write('<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"><\/script>');
    }
</script>
<script type="text/javascript">
    $(function ()
    {
        $('.form-horizontal').submit(function (e) {
            e.preventDefault();

            var $this = $(e.currentTarget),
                inputs = {};

            // Send all form's inputs
            $.each($this.find('input'), function (i, item) {
                var $item = $(item);
                inputs[$item.attr('name')] = $item.val();
            });
            // Load dialog on click
            $('#basic-modal-content').modal();
            // Send form into ajax
            $.ajax({
                url: $this.attr('action'),
                type: 'POST',
                dataType: 'json',
                data: inputs,
                success: function (data) {
                    if (data.has_error) {
                        // Insert your error process
                        alert(data.error);
                    }
                    else {
                        // Insert your success process
                        alert('Welcome ' + data.username + ' !');
                        window.location = data.target_path;
                    }
                }
            });
        });
    });
</script>
{% endblock %}
{% form_theme form _self %}

{% block email_widget %}
    <div class="col-lg-10">
        {% set type = type|default('email') %}
        <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %} required="required" class="form-control" placeholder="Email" />
    </div>
{% endblock %}
{% block text_widget %}
    <div class="col-lg-10">
        {% set type = type|default('text') %}
        <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %} required="required" class="form-control" placeholder="Username" />
    </div>
{% endblock %}
{% block password_widget %}
    <div class="col-lg-10">
        {% set type = type|default('password') %}
        <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %} required="required" class="form-control" placeholder="Password" />
    </div>
{% endblock %} 

{% block email_label %}
    <label class="col-lg-2 control-label required" >Email:</label>
{% endblock %}
{% block text_label %}
    <label class="col-lg-2 control-label required" >Username:</label>
{% endblock %}
{% block password_label %}
    <label class="col-lg-2 control-label required" >Password:</label>
{% endblock %}

{% block body -%}

{% block content %}
    
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=181281388585848";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
        <tbody>
                <h1>Petition</h1>
                <table class="record_properties">
                    <tbody>
                        <tr>
                            <th>Petitiontitle</th>
                            <td>{{ entity.petitionTitle }}</td>
                        </tr>
                        <tr>
                            <th>Petitiondescription</th>
                            <td>{{ entity.petitionDescription }}</td>
                        </tr>
                        <tr>
                            <th>Petitionurl</th>
                            <td>{{ entity.petitionUrl }}</td>
                        </tr>
                        <tr>
                            <th>Score</th>
                            <td>{{ entity.score }}</td>
                        </tr>
                        <tr>
                            <th>Dateadded</th>
                            <td>{{ entity.dateAdded|date('Y-m-d H:i:s') }}</td>
                        </tr>
                        <tr>
                            <th>Status</th>
                            <td>{{ entity.status }}</td>
                        </tr>
                        <tr>
                            <th>Id</th>
                            <td>{{ entity.id }}</td>
                        </tr>
                    </tbody>
                </table>
                <div id="sign-this-petition" class="clearfix">
                      <h3 class="clearfix" style="float: left">Якщо ви зареєстровані, але є труднощі з підписанням  
                          <a href="/how-why/frequently-asked-questions">натисніть тут щоб отримати допомогу.</a>
                      </h3><br>
                  </div>   
                
                
                <div id="control" class="form-sign"><!-- CONTROL DIV -->
                    <div class="suporter-otherwise">
                        <b>Зареєстровані?</b><br>Введіть імейл і натисніть "Голосувати".</div>

                    <div class="suporter-otherwise"><b>Перший раз тут?</b> Заповніть форму нижче.</div>
              
<div class="col-lg-6">
    <div class="well">
      <form class="bs-example form-horizontal" action="{{ path("fos_user_security_check") }}" method="post" id="form-login">
        <fieldset>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
          <legend>Зареєстровані? Введіть e-mail, пароль і натисніть "Підписати"</legend>
          <div class="form-group">
            <label class="col-lg-2 control-label" for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" id="username" name="_username" value="" required="required" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 control-label" for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
            <div class="col-lg-10">
              <input type="password" class="form-control" id="password" name="_password" required="required" />
              <div class="checkbox">
                <label>
                  <input type="checkbox" id="remember_me" name="_remember_me" value="on" />{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
                </label>
              </div>
            </div>
          </div>
          <div class="col-lg-10 col-lg-offset-2">
              <input type="submit" id="_submit" class="btn btn-primary" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
            </div>
        </fieldset>
      </form>
    </div>
  </div>
                
            
        <div class="col-lg-6">
            <div class="well">
<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="bs-example form-horizontal">
    {# {{ form_widget(form) }} #}
<fieldset>
  <legend>Перший раз? Заповніть форму і натисніть "Підписати"</legend>
    <div class="form-group">
        {{ form_label(form.email) }}
        {{ form_widget(form.email) }}
    </div>
    <div class="form-group">
        {{ form_label(form.name) }}
        {{ form_widget(form.name) }}
    </div>
    <div class="form-group">
        {{ form_label(form.plainPassword.first) }}
        {{ form_widget(form.plainPassword.first) }}
    </div>
    <div class="form-group">
        {{ form_label(form.plainPassword.second) }}
        {{ form_widget(form.plainPassword.second) }}
    </div>
    <div class="col-lg-10 col-lg-offset-2">
      <input type="submit" value="Register" name="submit" class="btn btn-primary" id="submit">
    </div>
  {{ form_rest(form) }}
  </fieldset>
</form>
    </div>
</div>
                    
<!-- modal content -->
<div id="basic-modal-content">
        <h3>Basic Modal Dialog</h3>
        <p>Поширити цю петицію. Нехай більше людей підтримає її, і наш голос буде почутий!</p>
<div class="primary-shares">                    
<div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-type="box_count"></div>
<a href="https://twitter.com/share" class="twitter-share-button" data-url="https://dev.twitter.com/pages/tweet_button" data-via="your_screen_name" data-lang="en" data-related="anywhereTheJavascriptAPI" data-count="vertical">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
        <p><a href='http://www.ericmmartin.com/projects/simplemodal/'>Дякую, завершити...</a></p>
</div>                   
                {% if app.user %}
                
                <ul class="record_actions">
                    <li>
                        <a href="{{ path('petition') }}">
                            Back to the list
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('petition_edit', { 'id': entity.id }) }}">
                            Edit
                        </a>
                    </li>
                    <li>{{ form(delete_form) }}</li>
                </ul>
                {% else %}
                {% endif %}

        <div class="span4">

        </div>
{% endblock %}

{% endblock %}
