
<!-- Top Nav -->
<div class="navbar-collapse nav-main-collapse collapse pull-right">
    <nav class="nav-main mega-menu">
        <ul class="nav nav-pills nav-main scroll-menu" id="topMain">
            <li class="dropdown">
                <a class="dropdown-toggle" href="{{ path('mostpopular') }}">
                    Головна <i class="fa fa-angle-down"></i>
                </a>
            </li>
            <li class="dropdown mega-menu-item mega-menu-two-columns">
                <a class="dropdown-toggle" href="{{ path('petition_petitions', {'page': 1}) }}">
                    Усі петиції <i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <div class="mega-menu-content">
                            <div class="row">

                                <div class="col-md-12">
                                    <ul class="sub-menu">
                                        <li>
                                            <ul class="sub-menu">

                                                <li><a href="shortcodes-rows.html"><i class="fa fa-star-o"></i> Shortcodes</a></li>
                                                <li><a href="page-about-us.html"><i class="fa fa-check-square-o"></i> About Us</a></li>
                                                <li><a href="page-about-me.html"><i class="fa fa-check-square-o"></i> About Me</a></li>
                                                <li><a href="page-team.html"><i class="fa fa-check-square-o"></i> Team</a></li>
                                                <li><a href="page-services.html"><i class="fa fa-check-square-o"></i> Services</a></li>
                                                <li><a href="page-faq.html"><i class="fa fa-check-square-o"></i> FAQ</a></li>
                                                <li><a href="page-support.html"><i class="fa fa-check-square-o"></i> Support</a></li>
                                                <li><a href="page-privacy-policy.html"><i class="fa fa-check-square-o"></i> Privacy Policy</a></li>
                                                <li><a href="page-terms-and-conditions.html"><i class="fa fa-check-square-o"></i> Terms Page</a></li>
                                                <li><a href="page-invoice.html"><i class="fa fa-check-square-o"></i> Invoice</a></li>
                                                <li><a href="page-sitemap.html"><i class="fa fa-sitemap"></i> Sitemap</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" href="{% if app.user %} {{ path('petition_create') }} {% endif %}">
                    <b>Додати петицію</b> <i class="fa fa-angle-down"></i>
                </a>
                                {% if app.user == false %}
                <ul class="dropdown-menu">
                    <li>Для того щоб мати можливість додавати петиції - <a href="{{ path('fos_user_registration_register') }}">Зареєструйтесь</a> 
                        або <a href="{{ path("fos_user_security_login") }}">Увійдіть</a></li>
                </ul>
                                {% endif %}
            </li>
                            {% if app.user %}
            <li class="dropdown">
                <a class="dropdown-toggle" href="{{ path('fos_user_security_logout') }}">
                    Вийти <i class="fa fa-angle-down"></i>
                </a>
            </li>
                            {% endif %}

        </ul>
    </nav>
</div>
<!-- /Top Nav -->
